.heading-name {
    font-size: 4rem;
    margin-top: 1rem;
    text-align: center;
    user-select: none;
    
    li {
        transition: all 1.3s ease-in-out;
        max-width: 1em;
        opacity: 1;
    }
}

.pfp {
    width: 150px;
    height: 200px;
    margin-bottom: 2rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 10px $tertiary-colour;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.heading-group {
    position: relative;
}

#about-me {
    .h1 {
        text-align: center;
    }
    
    .h2 {
        margin-bottom: 2rem;
        text-decoration: underline;
        text-decoration-color: $tertiary-colour;
    }
}

@include media-breakpoint-up(md) {
    #about-me {
        .info {
            margin: 1rem 2rem;
        }
        
        .h2 {
            margin-bottom: 5rem;
        }
    }
    
    .pfp {
        position: absolute;
        left: 1rem;
    }
}

@include media-breakpoint-up(xxl) {
    #about-me {
        .info {
            margin: 1rem 5rem;
        }
        
        .pfp {
            left: 5rem;
        }
    }
}