#navbar {
    background-color: $secondary-colour;
    border-bottom: 0.2rem solid $tertiary-colour;
}

#navbar-brand {
    color: $white;
    font-size: 1.75rem;
    margin: 0 auto;
}

.hamburger-icon {
    color: $primary-colour;
}

.nav-link {
    color: $white;
    
    &:hover {
        color: $tertiary-colour;
    }
}